#otp {
    height: 100vh;
    background-color: #FFFCF6;
    background-image: url('https://cdn1.cronometer.com/brand2/assets/DotPatternSmall.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 550px;
}

#otpParent {
    width: 34%;
    margin: auto;
    text-align: center;
    margin-top: 3vh;
    background-color: white;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    margin-top: 5vh;
}